<ion-list class="ion-no-padding">
  <ion-item detail button>
    <ion-spinner slot="start" color="light"></ion-spinner>
    <ion-label><ion-skeleton-text animated style="width: 90%"></ion-skeleton-text></ion-label>
  </ion-item>
  <ion-item detail button>
    <ion-spinner slot="start" color="light"></ion-spinner>
    <ion-label><ion-skeleton-text animated style="width: 90%"></ion-skeleton-text></ion-label>
  </ion-item>
  <ion-item detail button>
    <ion-spinner slot="start" color="light"></ion-spinner>
    <ion-label><ion-skeleton-text animated style="width: 90%"></ion-skeleton-text></ion-label>
  </ion-item>
</ion-list>