<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let level of levels">
    <ion-card-header color="dark">
      <ion-card-subtitle>Level {{level.level}}</ion-card-subtitle>
      <ion-card-title>{{level.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <app-empty-missions type="indeterminate" *ngIf="level.missions.length === 0"></app-empty-missions>
      <ion-list class="ion-no-padding">
        <ion-item detail button *ngFor="let mission of level.missions">
          <ion-icon name="lock-open-outline" slot="start"></ion-icon>
          <ion-label>{{mission.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
